browserforge==1.2.3
camoufox==0.4.11
certifi==2025.6.15
charset-normalizer==3.4.2
click==8.2.1
Cython==3.1.2
greenlet==3.2.3
idna==3.10
language-tags==1.2.0
lxml==5.4.0
numpy==2.3.1
orjson==3.10.18
platformdirs==4.3.8
playwright==1.52.0
pyee==13.0.0
pyobjc-core==11.1
pyobjc-framework-Cocoa==11.1
PySocks==1.7.1
PyYAML==6.0.2
requests==2.32.4
screeninfo==0.8.1
tqdm==4.67.1
typing_extensions==4.14.0
ua-parser==1.0.1
ua-parser-builtins==0.18.0.post1
urllib3==2.5.0
